@tailwind base;
@tailwind components;
@tailwind utilities;

.active .nav-indicator {
  width: 4rem;
  background: rgb(226, 232, 240);
}
.active .nav-text {
  color: rgb(226, 232, 240);
}

/*::-webkit-scrollbar {*/
/*  display: none;*/
/*}*/
/**{*/
/*  scrollbar-width: none;*/
/*  -ms-overflow-style: none;*/
/*}*/
